@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/vazirmatn/Vazirmatn-FD-Black.woff2") format("woff");
}

@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/vazirmatn/Vazirmatn-FD-Bold.woff2") format("woff");
}

@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/vazirmatn/Vazirmatn-FD-Medium.woff2") format("woff");
}

@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/vazirmatn/Vazirmatn-FD-Light.woff2") format("woff");
}

@font-face {
  font-family: c;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/vazirmatn/Vazirmatn-FD-Regular.woff2") format("woff");
}
