@import "./fonts.css";
@import "./satoshi.css";

html.fa {
  font-family: "Vazirmatn", "Satoshi";
}

html.en {
  font-family: "Satoshi", "Satoshi";
}

::-webkit-scrollbar {
  width: 2px !important;
  height: 5px;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.4);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: red;
  box-shadow: red;
  overflow: hidden;
  width: 2x;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 2px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.2;
  -webkit-box-shadow: red;
  background: rgba(73, 73, 73, 0.7);
  box-shadow: red;
}
.jodit-toolbar-editor-collection {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
}
.jodit-react-container {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}
/* jodit-custom.css */
.jodit-toolbar__box {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
}

.jodit-toolbar__container {
  display: inline-flex !important;
}
