@import "tailwindcss";
@import "./style/index.css";

body,
*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
a {
  font-family: "Satoshi", "Vazirmatn", "Roboto", sans-serif;
}

[lang="fa"] {
  font-family: "Vazirmatn", sans-serif;
}

[lang="en"] {
  font-family: "Roboto", sans-serif;
}
